body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

/*************************** Header *****************************/

.head {
    background-color: #ffffff;
    width: 1440px;
    height: 72px;
    /*border-radius: 8px;*/
}

.nav .logo {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    font-weight: 700;
    text-decoration: none;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo .logo-studio {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

ul {
    list-style-type: none;
}

/*.head-list {
    text-align: center;
}*/

.head-list li a {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #2E2F42;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.head-list li a:hover {
    color: #404bbf;
}

.head-list li a:focus {
    color: #404bbf;
}

.add_ress {
    color: #434455;
    font-style: normal;
}

.address-list li a {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #434455;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.address-list li a:focus {
    color: #404bbf;
}

.address-list li a:hover {
    color: #404bbf;
}



/*************************** Section 1 *****************************/

.sec1 {
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    color: #ffffff;
    text-align: center;
}

.page-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.btn {
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.btn:hover {
    background-color: #404BBF;
}

.btn:focus {
    background-color: #404BBF;
}

/*************************** Section 2 *****************************/


.list-sec2 li h3 {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42
}

.list-sec2 li p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
}


/*************************** Section 3 *****************************/


.sec3 {
    background-color: #F4F4FD;
    width: 1440px;
    height: 732px;
}


.sec3 h2 {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
}

.sec3 ul li {
    background-color: #ffffff;
    width: 264px;
    height: 380px;
    /*border-radius: 0 0 4px 4px;*/
}

.sec3 ul li h3 {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
}

.sec3 ul li p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
}


/*************************** Section 4 *****************************/

.sec4 {
    background-color: #E7E9FC;
    width: 1128px;
    height: 1000px;
}

.sec4 h2 {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
}

.list-sec4 li h3 {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
}

.list-sec4 li p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
}

/*************************** Footer *****************************/

.foo_ter {
    background-color: #2E2F42;
    width: 1440px;
    height: 312px;
    text-align: left;
}

.foo_ter .logo {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    font-weight: 700;
    text-decoration: none;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-studio-footer {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

footer p {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}